.shopping-area{
    display: grid;
    grid-template-columns: 7fr 3fr;
}
.shopping-title{
    width: 75%;
    border: 1px solid black;
    padding: 10px 0px;
    border-radius: 5px;
    background-color: rgb(252, 249, 246);
}
.shopping-area .cart{
    text-align: center;
}
.shopping-area .cart .cart-btn{
    border: none;
    padding: 8px 20px;
    background-color: rgb(6, 88, 121);
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: bold;
    border-radius: 5px;
}
.cart .cart-btn:hover{
    background-color: rgb(5, 100, 138);
}

@media (max-width: 992px){
    .shopping-area{
        display: flex;
        flex-direction:column-reverse;
    }
}
