.shopping-area{
    display: grid;
    grid-template-columns: 7fr 3fr;
    /* display: flex; */
    
}
.shopping-area .perfume-contain {
    /* width: 80%; */
    /* width: 1100px; */
}

.shopping-area .cart{
    /* width: 450px; */
    text-align: center;
}

@media (max-width: 992px){
    .shopping-area{
        display: flex;
        flex-direction:column-reverse;
    }
    .shopping-area .cart{
        /* order: 2; */
    }
}
