.item-cart{
    width: 300px;
    box-shadow: 4px 8px 20px rgb(189, 189, 189);
}
.price{
    color: rgb(255, 97, 6);
    font-size: 25px;
}
.add-btn{
    width: 100%;
    border: none;
    padding: 10px 0px;
    background-color: rgb(1, 9, 44);
    color: rgb(245, 192, 58);
    font-size: 23px;
    font-weight: bold;
    border-radius: 5px;
}
.add-btn:hover{
    background-color: rgb(0, 0, 0);
}